<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-header></app-header>

  <app-sidebar id="idSidebar"></app-sidebar>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div id="idWrapper" class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <!--button (click)="descargar()">Click aqui</button-->

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>

      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->


      <div class="right-sidebar">
        <div class="slimscrollright">
          <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
          <div class="r-panel-body" #dynamicComponentContainer>
            <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Cargar Fondo</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
            <div id="list-example" class="list-group">
              <h6>Administrar Banners <span class="btn btn-primary btn-sm text-light float-right"
                  (click)="adminBanners()"><i class="fa fa-plus"></i></span></h6>
              <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
              <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
              <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
              <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- Fin Container fluid  -->
    <!-- ============================================================== -->

    <!-- ===============================================================-->
    <!-- Footer-->
    <!-- ===============================================================-->
    <app-footer></app-footer>
    <!-- ===============================================================-->
    <!-- Fin de Footer-->
    <!-- ===============================================================-->
  </div>
  <!-- ============================================================== -->
  <!-- fin Page wrapper  -->
  <!-- ============================================================== -->


</div>