#themecolors a{
    cursor: pointer;
}

.panel-piluku {
    clear: both;
    background-color: #FFFFFF;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border: 1px solid #dce1ea;
    border-radius: 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}

.panel-piluku > .panel-heading {
    border-bottom: 1px solid #e9e9e9;
    font-weight: normal;
    background: #f9f9f9;
    display: table;
    width: 100%;
}

.btn-file-upload {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 15px;
    background: #489ee7;
    border-width: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 400;
}

/* principales */
.gt-titulos-vista span.btns.pull-right {
    left: -15px;
}

.gt-titulos-vista span.btns {
    position: relative;
    top: -70px;
}
.mr-1 {
    margin-right: .25rem!important;
}

.gt-titulos-vista h1, .gt-titulos-vista h2, .gt-titulos-vista h3, .gt-titulos-vista h4, .gt-titulos-vista h5, .gt-titulos-vista h6 {
    color: #337ab7;
}
.titulo {
    color: #333;
}
.titulo {
    text-align: center;
    font-weight: bolder;
}

/* clase de tamaños */
.gt-wd-25{
    width: 25px;
}
.gt-wd-50{
    width: 50px;
}
.gt-wd-75{
    width: 75px;
}
.gt-wd-100{
    width: 100px;
}
.gt-wd-125{
    width: 125px;
}
.gt-wd-150{
    width: 150px;
}
.gt-wd-175{
    width: 175px;
}
.gt-wd-200{
    width: 200px;
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray -300;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  input[formcontrolname].ng-valid:not(.ng-pristine) {
    border-left: 0.25rem solid green;
  }
  
  input[formcontrolname].ng-invalid:not(.ng-pristine) {
    border-left: 0.25rem solid red;
  }
  
  textarea[formcontrolname].ng-valid:not(.ng-pristine) {
    border-left: 0.25rem solid green;
  }
  
  textarea[formcontrolname].ng-invalid:not(.ng-pristine) {
    border-left: 0.25rem solid red;
  }
  
  input[type=number].spinner-off::-webkit-inner-spin-button, 
  input[type=number].spinner-off::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input[type=date].spinner-off::-webkit-inner-spin-button, 
  input[type=date].spinner-off::-webkit-outer-spin-button,
  input[type=date].gt-dropdown-off::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0; 
  }
  
  [class^=col-] {
    padding: 0 0.2rem 0 0.2rem;
  }
  
  [required] {
    background-color: beige;
  }
  
  .fa-white {
    color: white;
  }
  
  .gt-seleccionado {
    font-weight: bold;
    font-style: italic;
    background: gray !important;
  }
  
  .gt-asterisco::after {
      content:" *";
      color: red;
      font-weight: bolder;
  }
  
  
  .gt-asteriscod .gt-asteriscod::after{
      content:" **";
      color: red;
      font-weight: bolder;
  }
  [required] {
      background-color: beige;
    }
  
  .gt-uppercase {
    text-transform: uppercase;
  }
  
  .table td, th {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    
  }
  
  .gt-modal {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  
  .modal-lg {
    max-width: inherit!important;
    width: 100%!important;
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }

  .noVisible{
    visibility: hidden !important;
  }
  