 {{estado}}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="descripcionMarca">Marca</label>
            <div class="input-group">
              <span class="input-group-btn">
                <input class="form-control gt-spinner-off" type="number" id="codigo" ">
              </span>
              <span class="input-group-btn"></span>
              <input id="descripcionMarca" type="text" 
                tabindex="-1">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-toggle="tooltip" title="Limpiar" tabindex="-1">
                  <i class="fas fa-sync-alt"></i>
                </button>
                <button type="button" class="btn btn-primary" (click)="guardar()" data-toggle="tooltip" title="guardar" tabindex="-1">
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>