.gt-wd-25{
    width: 25px;
}
.gt-wd-50{
    width: 50px;
}
.gt-wd-75{
    width: 75px;
}
.gt-wd-100{
    width: 100px;
}
.gt-wd-125{
    width: 125px;
}
.gt-wd-150{
    width: 150px;
}
.gt-wd-175{
    width: 175px;
}
.gt-wd-200{
    width: 200px;
}